body {
  font-family: Arial, sans-serif;
  background-color: #1c466c;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  max-width: 600px;
  width: 100%;
}

.riddle {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #007acc;
}

.answer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.answer input {
  padding: 10px;
  font-size: 1em;
  border: 2px solid #007acc;
  border-radius: 5px;
  width: 80%;
  margin-right: 10px;
}

.answer button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #007acc;
  color: rgb(218, 107, 144);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.answer button:hover {
  background-color: #005f99;
}

.score {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #333;
}

.result {
  text-align: center;
  margin-top: 30px;
}

.result h2 {
  font-size: 2em;
  color: #007acc;
  margin-bottom: 20px;
}

.result button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #007acc;
  color: rgb(94, 66, 66);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.result button:hover {
  background-color: #005f99;
}

.App {
  transition: transform 0.3s ease-in-out;
}

.App:hover {
  transform: scale(1.02);
}

.answer input:focus {
  border-color: #005f99;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 127, 204, 0.5);
}

@media (max-width: 600px) {
  .App {
    padding: 10px;
    width: 90%;
  }

  .answer input {
    width: 70%;
  }
}
